:root {
    --phoneSize: 375px;
    --tabletSize: 768px;
    --desktopSize: 1200px;
    --desktopMaxWidth: 1200px;
    --textColor: #FAF0E6;
    --primaryColor: #FF6500;
    --secondaryColor: #FF8636;
    --bgColor: #08121F;
}

html {
    font-family: Roboto, 'sans-serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    padding: 0 0 3rem 0;
    margin: 0;
    background: var(--bgColor);
    color: var(--textColor);
}

h2 {
    font-size: 1.125rem;
}

h3 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    font-size: 0.875rem;
    color: var(--textColor);
}

a:hover {
    text-decoration: underline;
}

header {
    background: linear-gradient(
            to right,
            #08121f 0%,
            #224d85 54%,
            #734221 99%
    );
    padding: 0.75rem 1rem;
    height: 2rem;
}

.header-nav {
    display: none;
}

header .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primaryColor);
}

@media screen and (min-width: 768px) {
    body {
        padding: 0;
    }

    header {
        height: 3rem;
    }

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .header-nav {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .header-nav .sign-up-btn {
        background: var(--primaryColor);
        padding: 0.5rem 1.5rem;
        border-radius: 0.75rem;
    }

    .header-menu {
        list-style: none;
        display: flex;
        gap: 1rem;
        border-right: 1px solid var(--primaryColor);
        padding-right: 1rem;
    }

    h2 {
        font-size: 2rem;
    }
}

.mobile-nav {
    background: #152333;
    padding: 6px 1rem;
    width: 100vw;
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
}

.homepage .more-btn {
    background: var(--primaryColor);
    padding: 0.25rem 1rem;
    border-radius: 0.75rem;
}

.homepage section {
    margin-bottom: 1rem;
}

.homepage section .preview {
    border-radius: 0.75rem;
}

main {
    padding: 1rem 1rem 2rem;

    display: grid;
    grid-template-areas:
      "most-recent-anime"
      "fall-anime"
      "new-episodes"
      "latest-news"
      "discussions";
    grid-template-columns: 1fr;


    gap: 1rem;
}

.anime-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.anime-grid .anime-item {
    display: flex;
    gap: 1rem;
}

.anime-grid .anime-item h3 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

.anime-grid .anime-item__link:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
}

.anime-grid .anime-item__link img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .anime-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .anime-grid .anime-item__link:last-child:nth-child(odd) {
        grid-column: auto;
        justify-self: auto;
    }
}

.most-recent-block {
    grid-area: most-recent-anime;
    padding: 1rem;
    border-radius: 0.5rem;
}

.most-recent-block .anime-grid .anime-item__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.most-recent-block .anime-grid .anime-item__link h3 {
    margin: 0;
}

.fall-2024-block {
    grid-area: fall-anime;
    padding: 1rem;
    border-radius: 0.5rem;
}

.fall-2024-block .anime-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.fall-2024-block .anime-grid .preview {
    width: 30%;
}

.fall-2024-block .anime-grid .content {
    width: 70%;
}

.new-episodes-block {
    grid-area: new-episodes;
    padding: 1rem;
    border-radius: 0.5rem;
}

.latest-news-block {
    grid-area: latest-news;
    padding: 1rem;
    border-radius: 0.5rem;
}

.discussions-block {
    grid-area: discussions;
    padding: 1rem;
    border-radius: 0.5rem;
}


@media screen and (min-width: 768px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
        grid-template-areas:
    "most-recent-anime most-recent-anime most-recent-anime most-recent-anime most-recent-anime"
    "fall-anime fall-anime fall-anime fall-anime new-episodes"
    "fall-anime fall-anime fall-anime fall-anime latest-news"
    "discussions discussions discussions discussions latest-news";
        grid-template-columns: repeat(5, 1fr);
    }

    .homepage section {
        margin-bottom: 0;
    }

    .new-episodes-block, .latest-news-block {
        min-width: 18rem;
        height: fit-content;
        background: #152333;
    }
}

.main-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.75rem;
}

footer {
    background: var(--bgColor);
    padding: 1rem 3rem;
}

footer .top-block {
    display: flex;
    justify-content: space-between;
}

footer .footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer .copyright {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
    footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    footer .top-block {
        gap: 1rem;
        justify-content: center;
        align-items: flex-end;
    }

    footer .footer-nav {
        margin-bottom: 1rem;
    }

    footer .footer-nav ul {
        flex-direction: row;
    }
}

.news-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.news-item {
    display: flex;
    gap: 0.5rem;
}

.news-item__preview img {
    height: 100%;
}

.news-item__content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-item__title {
    font-size: 0.875rem;
    margin: 0;
    font-weight: normal;
}

.news-item__info {
    color: var(--secondaryColor);
    font-size: 0.75rem;
}

.discussion-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.discussion-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--primaryColor);
}

.discussion-item__title {
    font-size: 0.875rem;
    margin: 0 0 0.5rem 0;
}

.discussion-item__info {
    color: var(--secondaryColor);
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.discussion-item__replies {
    display: flex;
    gap: 0.5rem;
}

@media screen and (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
}

.burger-menu-btn {
    padding-top: 0.5rem;
    width: 40px;
    height: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger-menu-btn .line {
    width: 100%;
    height: 4px;
    background-color: var(--textColor);
    border-radius: 2px;
    transition: transform 0.3s, opacity 0.3s;
}

.mobile-menu {
    position: fixed;
    top: 3.5rem;
    right: -100%;
    width: 100%;
    height: calc(100% - 7rem);
    background-color: #152333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s;
    z-index: 1000;
}

.mobile-menu img {
    width: 5rem;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.mobile-menu ul li {
    margin: 20px 0;
    padding-left: 2rem;
}

.mobile-menu ul li a {
    text-decoration: none;
    font-size: 1.125rem;
}

.mobile-menu .mobile-menu-delimiter {
    background: var(--primaryColor);
    height: 1px;
    width: calc(100% - 2rem);
    margin-top: 2.5rem;
}

.mobile-menu .sign-up-btn {
    background: var(--primaryColor);
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
    margin-top: 1rem;
}

.mobile-menu .log-in-btn {
    margin-top: 1rem;
}

.burger-menu-btn.active .line1 {
    transform: rotate(45deg) translate(5px, 15px);
}

.burger-menu-btn.active .line2 {
    opacity: 0;
}

.burger-menu-btn.active .line3 {
    transform: rotate(-45deg) translate(3px, -15px);
}

.mobile-menu.active {
    right: 0;
}